/* font face */

@font-face {
    font-family: Lalezar;
    src: url('../font/Lalezar-Regular.ttf') format('truetype');
}

@font-face {
  font-family: Vazir;
  src: url('../font/Vazirmatn-Regular.ttf') format('truetype');
  font-weight: lighter;
}

@font-face {
  font-family: Vazir;
  src: url('../font/Vazirmatn-Medium.ttf') format('truetype');
  font-weight: normal;
}

/* css reset */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* variable */

:root{
    --white-50: #fff;
    --white-100: #f6f6f6;
    --white-200: #e7e7e7;

    --gold-50: #fffcef;
    --gold-400: #fdc816;

    --gray-600: #707070;
    --gray-650: #818181;
    --gray-700: #626161;
}

/* custom reset css */

*{
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body, *{
    font: 1.6rem Vazir;
}

a{
    display: inline-block;
    text-decoration: none;
}

li{
    list-style: none;
}

button{
    cursor: pointer;
}

button, input{
    background-color: transparent;
    outline: none;
    border: none;
}

/* component */



/* helper class */

.vazir-fb{
    font-family: Vazir;
    font-weight: bold;
}

.vazir-fl{
    font-family: Vazir;
    font-weight: lighter;
}

.lalezar-font{
    font-family: Lalezar;
}

.center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.d-flex-justify-between-align-center{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flexItems-centerVertical{
    display: flex;
    align-items: center;
}

.flexItems-centerHorizontal{
    display: flex;
    justify-content: center;
}

.flex{
    display: flex;
}

.justify-content-center{
    justify-content: center;
}

.align-items-center{
    align-items: center;
}

.justify-content-space-between{
    justify-content: space-between;
}

.flex-direction-column{
    flex-direction: column;
}

.border-radius-50-percentage{
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.border-radius-5{
    border-radius: .5rem;
    -webkit-border-radius: .5rem;
    -moz-border-radius: .5rem;
    -ms-border-radius: .5rem;
    -o-border-radius: .5rem;
}

.border-radius-12{
    border-radius: 1.2rem;
    -webkit-border-radius: 1.2rem;
    -moz-border-radius: 1.2rem;
    -ms-border-radius: 1.2rem;
    -o-border-radius: 1.2rem;
}

.border-radius-15{
    border-radius: 1.5rem;
    -webkit-border-radius: 1.5rem;
    -moz-border-radius: 1.5rem;
    -ms-border-radius: 1.5rem;
    -o-border-radius: 1.5rem;
}

.border-radius-20{
    border-radius: 2rem;
    -webkit-border-radius: 2rem;
    -moz-border-radius: 2rem;
    -ms-border-radius: 2rem;
    -o-border-radius: 2rem;
}

.border-radius-25{
    border-radius: 2.5rem;
    -webkit-border-radius: 2.5rem;
    -moz-border-radius: 2.5rem;
    -ms-border-radius: 2.5rem;
    -o-border-radius: 2.5rem;
}

.border-radius-30{
    border-radius: 3rem;
    -webkit-border-radius: 3rem;
    -moz-border-radius: 3rem;
    -ms-border-radius: 3rem;
    -o-border-radius: 3rem;
}