@import url("./baseCss.css");

body{
    background-color: var(--white-100);
    display: flex;
    flex-direction: row-reverse;
    direction: rtl;
    min-height: 100dvh;
    column-gap: 20px;
}

/* Profile Box */

.left-side{
    padding: 2rem 0 2rem 2rem;
    width: 50rem;
    height: 100%;
}

.profile-box{
    direction: rtl;
    background-color: var(--white-50);
    padding: 1.5rem 2rem;
    column-gap: 2rem;
}

.profile-wrapper{
    background-color: var(--gold-400);
    position: relative;
    width: 6.5rem;
    height: 6.5rem;
    padding: .6rem;
}

.user-profile{
    position: relative;
    width: 100%;
    height: 100%;
}

.profile-box-desc{
row-gap: .5rem;
}

.user-name, .user-number{
    color: var(--gray-650);
}

/* Sim Card Charge */

.sim-card-charge-box{
    background-color: var(--gold-50);
    padding: 2rem;
    margin-top: 2rem;
    height: 100%;
} 

.sim-card-charge-title{
    margin-top: 1rem;
    font-size: 1.9rem;
    text-align: center;
}

.charge-progress{
    width: 12rem;
    height: 12rem;
    margin: 2.5rem 0;
}

.progress-10{
    background-image: -webkit-linear-gradient(90deg, #e4ebec 50%, transparent 50%), -webkit-linear-gradient(right, var(--gold-400) 50%, #e4ebec 50%);
}

.overlay{
    width: 85%;
    height: 85%;
    background-color: var(--gold-50);
    color: #003aff;
}

.charge-btn{
    background-color: var(--gold-400);
    color: var(--white-50);
    width: 15rem;
    box-shadow: 0 0 .8rem var(--gold-400);
}

/* Active Services */

.service-title{
    margin-top: 3.5rem;
    margin-bottom: 1.5rem;
    font-size: 1.8rem;
}

.active-service-box{
    color: var(--gray-600);
    column-gap: 1.2rem;
    margin-bottom: 3rem;
}

.active-service-icon{
    background-color: rgba(253, 199, 23, .2);
    color: var(--gold-400);
    font-size: 2.2rem;
    width: 4rem;
    height: 4rem;
}

.active-service-box-desc{
    line-height: 2.7rem;
}

/* download app box */

.download-app-box{
    background-color: var(--white-50);
    position: relative;
    top: 100%;
    width: 100%;
    padding: 2rem;
    transform: translateY(-658%);
    -webkit-transform: translateY(-658%);
    -moz-transform: translateY(-658%);
    -ms-transform: translateY(-658%);
    -o-transform: translateY(-658%);

    img{
        width: 5rem;
        image-rendering: pixelated;
    }

    h1{
        font-size: 1.9rem;
    }
}

/* Center Section */

.main{
    width: 100%;
    padding: 2rem 0;

} 

.main-title{
    font-size: 2.6rem;
} 

.main-overlay{
    overflow: hidden;
    background: url(../imgs/bannerIndex.jpg) center/cover no-repeat;
    position: relative;
    isolation: isolate;
    width: 100%;
    height: 15rem;
    margin-top: 2rem;
    align-items: flex-end;

    h1, button{
        width: fit-content;
    }

    h1{
        font-size: 2.4rem;
        margin-left: 3rem;
    }

    button{
        background-color: var(--gold-400);
        font-size: 1.6rem;
        margin: 2rem 0 2rem 3rem;
        color: var(--white-50);
        border-radius: .3rem;
        -webkit-border-radius: .3rem;
        -moz-border-radius: .3rem;
        -ms-border-radius: .3rem;
        -o-border-radius: .3rem;
}
    
}

.main-overlay::before{
    content: "";
    position: absolute;
    background: linear-gradient(270deg, rgba(253, 200, 22, .4), rgba(255, 223, 114, .4));
    z-index: -1;
    width: 100%;
    height: 100%;
}

/* Chart */

.chart{
    position: relative;
    background-color: var(--white-50);
    margin-top: 2.5rem;
    padding: 3rem;

    h1{
        position: absolute;
        top: 2rem;
        right: 2rem;
        font-size: 2.1rem;
    }
}

/* Recommend Packet */

.recommend-packets{
    background-color: var(--white-50);
    padding: 3rem;
    margin-top: 2.5rem;
} 

.recommend-packets-title{
    font-size: 2.1rem;
} 

.recommend-packets-table{
    color: var(--gray-650);
    margin-top: 2rem;
    width: 100%;

    tr{
        text-align: center;
    }

    tr:not(:first-child){
        border-top: .2rem solid var(--white-200);
    }

    th{
        padding: 2rem;
    }

    td{
        padding: 1rem;
    }
} 

.buy-packet-btn{
    background-color: var(--gold-400);
    box-shadow: 0 0 1rem var(--gold-400);
    color: var(--gold-50);
    padding: .5rem 3rem;
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
} 