@import url("./baseCss.css");

body{
    background-color: var(--white-100);
    display: flex;
    flex-direction: row-reverse;
    direction: rtl;
    min-height: 100dvh;
    column-gap: 20px;
}

/* Profile Box */

.left-side{
    padding: 2rem 0 2rem 2rem;
    width: 50rem;
}

.profile-box{
    direction: rtl;
    background-color: var(--white-50);
    padding: 1.5rem 2rem;
    column-gap: 2rem;
}

.profile-wrapper{
    background-color: var(--gold-400);
    position: relative;
    width: 6.5rem;
    height: 6.5rem;
    padding: .6rem;
}

.user-profile{
    position: relative;
    width: 100%;
    height: 100%;
}

.profile-box-desc{
row-gap: .5rem;
}

.user-name, .user-number{
    color: var(--gray-650);
}